*{
    padding:0;
    margin:0;
}
@keyframes greet {
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}
.background-wrap{
    position:fixed;
    width:100%;
    height:104%;
    top:0;
    left:0;
    overflow:hidden;
}
#video-bg{
    position: absolute;
    min-width:100%;
    min-height:100%;
    top:0;
    left:0;
    margin-top: -2%;
}

#greet{
    position: absolute;
    width:100%;
    height:100%;
    text-align: center;
    text-transform: uppercase;
    color:white;
    background-color: rgba(0,0,0,.7);
    overflow:hidden;
}
#menu{
    position:relative;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    display:none;
    letter-spacing: 5px;
    transition: left .4s  ;
}
h1{
    display: inline-block;
    width: 50%;
}
.left, .right{
    display: inline-block;
    position: relative;
    height:80px;
    width:80px;
}
.left:before, .right:before{
    position: absolute;
    content: '';
    width: 100%;
    height:100%;
    left: 0;
    background-color: rgba(0,0,0,.3);
    border-radius: 50%;
}
.left{
    background: url(../media/left.png) center no-repeat;
    background-size: cover;
    transition: .5s;
}
.right{
    background: url(../media/right.png) center no-repeat;
    background-size: cover;
    transition: .5s;
}
.left:hover{
    transform: rotate(180deg);
    cursor: pointer;
}


.right:hover{
    transform: rotate(-180deg);
    cursor: pointer;
}
#info{
    position: fixed;
    left:-580px;
    top:0;
    height:100%;
    width:30%;
    background-color: rgba(0,0,0,.7);
    transition: left .6s ;
}

